@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  --defaultSize: 28px;
  --h1size: 2.5em;
  --h2size: 1.6em;
  --h3size: 1.4em;
  --h4size: 1.3em;
  --defaultColor: #000;
  --defaultBgColor: #fff;
  font-family: 'Lora', 'Times New Roman', Times, serif;
  font-size: var(--defaultSize) !important;
  color: var(--defaultColor);
  background-color: var(--defaultBgColor);
}

section h1 { font-size: var(--h1size) !important; }
section h2 { font-size: var(--h2size) !important; }
section h3 { font-size: var(--h3size) !important; }
section h4 { font-size: var(--h4size) !important; }

section h1, h2, h3, h4 {
  /* text-transform:capitalize !important; */
  margin-bottom: .4em !important;
}

ul {
	display: inline-block;
	text-align: left;
	margin: 0 0 0 2em !important;
  width: 70%;
  margin: auto;
}

ul > li {
  margin: .3em 0 !important;
}

strong {
  font-weight: 600 !important;
}

em {
  color: darkorange !important;
}

em {
  display: inline !important;
  font-style: italic !important;
}

section .centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.inverted {
  color: var(--defaultBgColor);
  background-color: var(--defaultColor);
}

.inverted > h1 {
  margin: 0 !important;
}

section .narrow {
  display: inline-block;
  padding: .5em;
}

section .framed {
  border: 1px solid var(--defaultColor);
  margin: 1em;
}

section blockquote {
  border-left: 10px solid rgba(225, 225, 225, .8) !important;
}

section blockquote p {
  display: inline !important;
  font-style: italic !important;
}

section blockquote footer {
  text-align:right !important;
  padding-right:1em !important; 
  margin-top: .5em !important;
  opacity: 0.6 !important;
}

section blockquote footer::before {
  content: "- ";
}

section .fragment.highlight-red.visible {
  color: crimson !important; 
  text-decoration: line-through;
}

section .highlight-green.visible {
  color: darkgreen !important;
}

section .highlight-green.visible::after {
  content: " ✔";
}
